html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Oswald', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald:wght@400;700&display=swap');
}

body {
  background: #ffffff;
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', 'Arial', sans-serif;
}

p, a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 1.8rem;
}

a {
    font-weight: 700;
}


img {
  float: right;
  max-width: 150px;
}

.mainImage {
  float: none;
  max-height: 100px;
  max-width: 100px;
}

main {
  background: #FFFAE3;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  gap: 4rem;
  background: #F8F8FF;
  padding: 4rem 0;
}

footer {
  background: #F8F8FF;
  min-height: 100px;
}

.apply-extra-styling {
  width: 300px;
}

.home-link {
  background-color: #FFF000;
  margin-right: 20px;
}

.strong, .standOutText {
  color: #FF2E00;
  font-style: italic;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #00c;
}
